# If you want some example snippets, check out:
# https://github.com/atom/language-javascript/blob/master/snippets/javascript.cson

'.source.feecting':
  'Base Template':
    'prefix': 'bt'
    'body': '''# $1

    ## DISCLAIMER
    > $2

    // VARIABLES
    $FEECTING = https://pastebin.com/JkirV7QN

    @$3 = $4

    -- BEGIN:OUTLINE

      1. Who? $5
      2. What? $6
      3. When? $7
      4. Where? $8
      5. Why? $9

    -- END:OUTLINE

    -- BEGIN:PROGRAM

      $10

    -- END:PROGRAM

    -- BEGIN: META

      Title: PROGRAM TITLE
      Version: 1.0
      Author: @$3
      Date: March 5, 2019
      Copyright: #FEECTING Copyright (c)2019 Quinn Michaels. All Rights Reserved
      License:
        Permission is hereby granted, free of charge, to any person obtaining a copy of this PROGRAM and associated documentation files (the "PROGRAM"), to deal in the PROGRAM without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the PROGRAM, and to permit persons to whom the PROGRAM is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the PROGRAM.

        THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS IN THE PROGRAM.

    -- END: META
'''
