# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.feecting'
'name': 'Feecting'
'fileTypes': [
  'feecting'
]
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'comment.line'
  }
  {
    'begin': '///'
    'end': '///'
    'name': 'punctuation.comment.block'
  }
  {
    'match': '\\$(\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'variable.external.name'
      '2':
        'name': 'string.external.value'
  }
  {
    'match': '\\@(\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'constant.user.name'
      '2':
        'name': 'string.user.value'
  }
  {
    'match': '\\#(\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'entity.hash.name'
      '2':
        'name': 'string.hash.value'
  }
  {
    'match': '([[:upper:]]*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'entity.function.name'
      '2':
        'name': 'string.hash.value'
  }
]
