# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.feecting'
'name': 'Feecting'
'fileTypes': [
  'feecting'
]
'patterns': [
  {
    'match': '(^\/\/.*)$'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.line'
    'end': '$'
    'name': 'comment.line.double-slash'
  }
  {
    'begin': '///'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.begin'
    'end': '///'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.end'
    'name': 'comment.block'
  }
  {
    'match': '(\\$\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'variable.external.name'
      '2':
        'name': 'string.external.value'
  }
  {
    'match': '(\\$\\w*)',
    'captures':
      '1':
        'name': 'variable.external.name'
  }
  {
    'match': '(\\@\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'constant.user.name'
      '2':
        'name': 'string.user.value'
  }
  {
    'match': '(\\@\\w*)',
    'captures':
      '1':
        'name': 'constant.user.name'
  }
  {
    'match': '(\\#\\S*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'entity.keyword.hash.name'
      '2':
        'name': 'string.hash.value'
  }
  {
    'match': '(\\#\\w*)',
    'captures':
      '1':
        'name': 'entity.keyword.hash.name'
  }
  {
    'match': '([[A-Z]]*)\\W=(.*)$'
    'captures':
      '1':
        'name': 'entity.function.name'
      '2':
        'name': 'text.local.value'
  }
  {
    'begin': '-- BEGIN:OUTLINE'
    'beginCaptures':
      '0':
        'name': 'definition.outline.begin'
    'end': '-- END:OUTLINE'
    'endCaptures':
      '0':
        'name': 'definition.outline.end'
    'name': 'program.block'
  }
  {
    'begin': '-- BEGIN:PROGRAM'
    'beginCaptures':
      '0':
        'name': 'definition.program.begin'
    'end': '-- END:PROGRAM'
    'endCaptures':
      '0':
        'name': 'definition.program.end'
    'name': 'program.block'
  }
  {
    'begin': '-- BEGIN:META'
    'end': '-- END:META'
    'name': 'punctuation.comment.block'
  }
]
