# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.feecting'
'name': 'Feecting'
'fileTypes': [
  'feecting'
]
'patterns': [
  {
    'match': '^\\s*//.*$'
    'name': 'comment.line'
  }
  {
    'begin': '///'
    'end': '///'
    'name': 'comment.block'
  }
  {
    'match': '\$(\S*)\W=(.*)$'
    'captures':
      '1':
        'name': 'variable.external.name'
      '2':
        'name': 'variable.external.value'

    'name': 'variable.external'
  }
]
